/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./50-Beautiful-and-Minimalist-Presentation-Backgrounds-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.profile {
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  background: linear-gradient(to bottom right, rgb(255, 116, 139), white);
}
.head {
  position: relative;
}
.banner {
  height: 180px;
  overflow: hidden;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%) translateY(50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.content {
  margin: 120px 50px 50px;
}
p {
  font-size: 18px;
  margin-top: 20px;
}
.button {
  text-align: center;
  margin-top: 30px;
}
.button button {
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  border: none;
  width: 60%;
  background:#ebeb12;
  transition: all 0.15s linear;
}
button:hover {
  transform: scale(1.1);
}